@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
/* ### Primary */

--Very-Dark-Blue: hsl(243, 87%, 12%);
--Desaturated-Blue: hsl(238, 22%, 44%);

/* ### Accent */

--Bright-Blue: hsl(224, 93%, 58%);
--Moderate-Cyan: hsl(170, 45%, 43%);

/* ### Neutral */

--Light-Grayish-Blue: hsl(240, 75%, 98%);
--Light-Gray: hsl(0, 0%, 75%);

--font-Raleway: 'Raleway', sans-serif; /*Headings, Call-to-actions, Header Navigation*/
--font-OpenSans: 'Open Sans', sans-serif; /*Body*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: var(--font-OpenSans);
    background: var(--Light-Grayish-Blue);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#main {
    max-width: 800px;
    padding: 30px;
    margin: auto;
}

header {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    margin:0px auto 60px auto;
}

header .logo-img img{
    max-width: 110px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav a {
    font-family: var(--font-Raleway);
    color: var(--Desaturated-Blue);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: .9em;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    border-bottom: 1px solid var(--Desaturated-Blue);
    transition: width 1s;
}

nav a:hover::before {
    bottom: 0;
    width: 100%;
}