@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
/* ### Primary */

--Very-Dark-Blue: hsl(243, 87%, 12%);
--Desaturated-Blue: hsl(238, 22%, 44%);

/* ### Accent */

--Bright-Blue: hsl(224, 93%, 58%);
--Moderate-Cyan: hsl(170, 45%, 43%);

/* ### Neutral */

--Light-Grayish-Blue: hsl(240, 75%, 98%);
--Light-Gray: hsl(0, 0%, 75%);

--font-Raleway: 'Raleway', sans-serif; /*Headings, Call-to-actions, Header Navigation*/
--font-OpenSans: 'Open Sans', sans-serif; /*Body*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: var(--font-OpenSans);
    font-size: 16px;
    padding: 20px 60px 0px 60px;
    margin: 0px auto !important;
    max-width: 1440px;
}

.logo-fylo {
    width: 110px;
    height: 30px;
}

nav ul a {
    color: var(--Very-Dark-Blue) !important;
    font-size: .85rem !important;
    font-family: var(--font-Raleway);
    font-weight: 700;
}

.container-illustration-1 {
    width: 100%;
    margin-top: 95px;
}

.text-file {
    width: 390px;
    color: var(--Very-Dark-Blue);
}

.text-fylo-stores {
    width: 370px;
    font-size: 0.75rem;
    font-weight: 400;
}

.illustration img{
    width: 460px;
    height: 350px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}